* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Avocado';
    src: url('../font/avocado_creamy/Avocado\ Creamy.ttf') format('truetype');
}

#game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.petit-bloc1,.petit-bloc2, .petit-bloc3, .petit-bloc4, .petit-bloc5, .petit-bloc6, .petit-bloc7, .petit-bloc8, .petit-bloc9 {
    display: flex;
    flex-direction: row;
}

.gros-bloc p {
    font-size: 2rem;
    text-align: center;
    height: 6vh;
    width: 10vh;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.first-line {
    border-top: 3px solid black;
}

.last-line {
    border-bottom: 3px solid black!important;
}

.gros-bloc p:last-child {
    border-right: 3px solid black;
    margin-right: 0;
}

.gros-bloc p:first-child {
    border-left: 3px solid black;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Avocado';
    cursor: pointer;
    font-size: 2rem;
}

.retour {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nombre {
    display: flex;
    flex-direction: row;
    margin-top: 7%;
}

#nombre p {
    font-size: 2rem;
    text-align: center;
    border-radius:50%;
    width: 36px;
    height: 36px;
    border: 2px solid black;
    margin-left: 0.5%;
}

.fond-case {
    background-color: lightskyblue;
}

.time {
    font-family: 'Avocado';
    margin-left: 5%;
    padding-bottom: 4%;
    font-size: 1.5rem;
}