<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="lien" rel="stylesheet" href="../css/jeu.css">
    <title>Jeu</title>
</head>
<body>
    <div id="game">
        <p class="time">Temps : <span id="timer"></span></p>
        <p class="bestScore">Bestscore : <span></span></p>
        <button id="checkValidResponse">Vérification</button>
        <div class="gros-bloc" id="gros-bloc">

        </div> 

        <div id="alertVerifPasBon" class="none">
            <p>Erreur : <span id="erreur"></span></p>
            <p id="close">Close</p>
        </div>

        <div id="alertVerifBon" class="none">
            <p>temps : <span id="timeScore"></span></p>
            <p>score : <span id="score"></span></p>
            <a href="../index.html" id="backMenu">Retour</a>
        </div>

        <div id="nombre">
            <p class="nombre-un" id="chiffreUn">1</p>
            <p class="nombre-deux" id="chiffreDeux">2</p>
            <p class="nombre-trois" id="chiffreTrois">3</p>
            <p class="nombre-quatre" id="chiffreQuatre">4</p>
            <p class="nombre-cinq" id="chiffreCinq">5</p>
            <p class="nombre-six" id="chiffreSix">6</p>
            <p class="nombre-sept" id="chiffreSept">7</p>
            <p class="nombre-huit" id="chiffreHuit">8</p>
            <p class="nombre-neuf" id="chiffreNeuf">9</p>
        </div>

        <p class="retour">
            <a href="../index.html">Menu</a>
        </p>
    </div>

    <script src="../js/temps.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/score.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</body>
</html>