<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/jeu.css">
    <title>Jeu</title>
</head>
<body>
    <div id="game">
        <p class="time">Temps : <span id="timer"></span></p>
        <div class="gros-bloc" id="gros-bloc">

        </div> 

        <div id="nombre">
            <p class="nombre-un">1</p>
            <p class="nombre-deux">2</p>
            <p class="nombre-trois">3</p>
            <p class="nombre-quatre">4</p>
            <p class="nombre-cinq">5</p>
            <p class="nombre-six">6</p>
            <p class="nombre-sept">7</p>
            <p class="nombre-huit">8</p>
            <p class="nombre-neuf">9</p>
        </div>

        <p class="retour">
            <a href="../index.html">Menu</a>
        </p>
    </div>

    <script src="../js/temps.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>