<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/jeu.css">
    <title>Jeu</title>
</head>
<body>
    <div id="game">
        <p class="time">Temps : <span id="timer"></span></p>
        <div class="gros-bloc" id="gros-bloc">

        </div> 

        <div id="nombre">
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
        </div>

        <p class="retour">
            <a href="../index.html">Menu</a>
        </p>
    </div>

    <script src="../js/temps.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>